name: Check Sites

on:
  schedule:
    - cron: '*/30 * * * *' # Tourne toutes les 30 min
  workflow_dispatch: # Permet de lancer manuellement

permissions:
  contents: write # Important pour sauvegarder le fichier JSON

jobs:
  check-and-alert:
    runs-on: ubuntu-latest
    
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Installer les dépendances
        run: pip install requests

      - name: Lancer le script de surveillance
        env:
          # C'EST ICI QUE ÇA BLOQUAIT ! On donne la clé au script :
          TEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}
        run: python monitor.py

      - name: Sauvegarder le résultat
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Mise à jour état des sites"
          file_pattern: "etat_sites.json"
